@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url('../img/fundo.jpg');
        background-size: cover;
    }

    section#login {
        width: 75vw;
        height: 300px;
    }

    div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: left center;
    }

    div#form {
        float: right;
        width: 60%;
    }

}

@media screen and (min-width:992px) {
    body {
        background-image: url('../img/fundo.jpg');
        background-size: cover;
    }

    section#login {
        width: 950px;
        height: 320px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form {
        float: left;
        width: 50%;
    }

    div#form p {
        margin: 15px 0;
    }
}